// app global css in Sass form
@import './custom-colors'
.title
  font-size: 32px
  font-weight: 700

.rounded
  border-radius: 4px !important

input
  color: #fff !important
.q-field__control
  border-radius: 4px !important
  padding: 0 10px

.link
  cursor: pointer
  text-decoration: underline
  &:hover
    color: $primary